@media only screen and (min-width: 960px) {
    
/*-----------------------
header
-------------------------*/

#top .trace-nav li.gnav01 a, #about .trace-nav li.gnav02 a, #gallery .trace-nav li.gnav03 a, 
#plan .trace-nav li.gnav04 a, #qa .trace-nav li.gnav05 a, 
#voice .trace-nav li.gnav06 a, #blog .trace-nav li.gnav07 a, 
#contact .trace-nav li.gnav08 a {
    color: #999;
}

#top #header {
    margin-bottom: 0;
}

.sp {
    display: none !important;
}

.pc {
    display: block !important;
}

.loading-img {
    position: fixed;
    top: 50%;
    left: 50%;
    width: 150px;
    height: 150px;
    margin-top: -100px;
    margin-left: -75px;
    text-align: center;
    color: #fff;
    z-index: 2;
    text-align: center;
}

#contents-wrap {
    position: relative;
    opacity: 0;
    transition: all 1.4s;
}

#contents-wrap.fade-in {
    opacity: 1;
}


.trace-nav-set {
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: rgba(255, 255, 255, 1.0);
    z-index: 10000;
    transition: all .6s;
    visibility: hidden;
    opacity: 0;
}

.trace-nav-set.fixed {
    visibility: visible;
    opacity: 1;
}

.trace-nav-set-inner {
    display: flex;
    padding: 12px 0 11px;
}

.trace-nav_logo {
    width: 140px;
    height: auto;
    padding-left: 30px;
}

.trace-nav {
    width: calc(100% - 140px);
    padding: 3px 30px 0 0;
    text-align: right;
}

.trace-nav li {
    display: inline-block;
    margin-right: 1.5%;
    vertical-align: middle;
}

.trace-nav li a {
    padding: 0;
    font-size: 1.1rem;
    color: #111;
    transition: all .3s;
}

.main-visual-area {
    position: relative;
    width: 100%;
    height: 100vh;
    height: calc(var(--vh, 1vh)* 100 - 230px);
    padding: 10px 10px 0 10px;
}

.top-header-nav-area {
    position: relative;
    display: flex;
    align-items: center;
    height: 230px;
    padding-left: 7.2%;
}

.top-header-nav-area_tagline {
    padding-top: 2px;
    color: #666;
    letter-spacing: 0.1em;
}

.top-header-nav-area_tagline .jpn {
    display: block;
    margin-bottom: 8px;
    font-size: 2.1rem;
    line-height: 1.4;
    opacity: 0;
}

.top-header-nav-area_tagline .jpn span {
    display: inline-block;
    opacity: 0;
    transform: translateY(14px);
    transition-property: all;
    transition-timing-function: cubic-bezier(.12,.59,.41,.95);
    transition-duration: 0.9s;
}

.top-header-nav-area_tagline .eng {
    display: block;
    padding-left: 3px;
    font-size: 1.1rem;
    transform: scale(1.0);
    transform-origin: left top;
    transition: all .8s;
    opacity: 0;
    transform: translateY(8px);
}

.header-gnav_pc {
    position: absolute;
    top: 42px;
    right: 5%;
    display: flex;
}

#top .header-gnav_pc {
    top: 58px;
}







/*-----------------------
about
-------------------------*/
.about-sec {
    margin-bottom: 130px;
}

.about-sec_img-slide-wrapper {
    margin-bottom: 150px;
    padding: 0 10px;
}

.about-sec_img-slide li {
    width: 760px !important;
    height: auto;
    margin-right: 10px;
}

.about-sec_ttl {
    margin-bottom: 65px;
    text-align: center;
}

.about-sec_ttl_inner1 {
    display: inline-block;
    position: relative;
    padding: 7px 14px 2px 20px;
}

.about-sec_ttl .jpn {
    display: block;
    font-size: 2.2rem;
    letter-spacing: 0.12em;
    line-height: 1.6;
    transition: all 1.0s;
    opacity: 0;
    transform: translateY(10px);
}

.about-sec_ttl .eng {
    display: block;
    margin-top: 7px;
    font-size: 1.1rem;
    letter-spacing: 0.2em;
    transition: all 1.0s;
    transition-delay: .18s;
    opacity: 0;
    transform: translateY(10px);
}

.about-sec_lead {
    margin-bottom: 45px;
    text-align: center;
    font-size: 1.4rem;
    line-height: 3.4;
    letter-spacing: 0.12em;
    transition: all 1.0s;
    transition-delay: .55s;
    opacity: 0;
    transform: translateY(10px);
}

.about-sec_lead .br-sp {
    display: none;
}

.sec-link {
    position: relative;
    padding-right: 28px;
    font-size: 1.4rem;
    letter-spacing: 0.05em;
    transition: color .3s;
}

.about-sec_link {
    padding-right: 8.5%;
    text-align: right;
    transition: all 1.0s;
    transition-delay: .8s;
    opacity: 0;
    transform: translateY(10px);
}

.about-sec_text-area.scrollin .about-sec_ttl .jpn {
    opacity: 1;
    transform: translateY(0);
}

.about-sec_text-area.scrollin .about-sec_ttl .eng {
    opacity: 1;
    transform: translateY(0);
}

.about-sec_text-area.scrollin .about-sec_lead {
    opacity: 1;
    transform: translateY(0);
}


/*-----------------------
 gallery
-------------------------*/




/*-----------------------
plan
-------------------------*/

/*-----------------------
article
-------------------------*/






/*-----------------------
voice
-------------------------*/



/*-----------------------
footer
-------------------------*/


}